<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <br />
  <div class="container border p-3">
      <h1 class="text-white text-center">Create Coupon</h1>

      <hr />
      <div class="row">
          <app-input label="Coupon Code" [control]="formGroup.get('couponCode')"></app-input>
          <app-input label="Discount Amount" [control]="formGroup.get('discountAmount')"></app-input>
          <app-input label="Minimum Amount" [control]="formGroup.get('minAmount')"></app-input>
          
          <div class="col-5 offset-2">
              <a  class="btn-primary btn form-control " routerLink="../">Back to List</a>
          </div>
          <div class="col-5">
              <input type="submit" value="Create" class="btn btn-success form-control" />
          </div>
      </div>

      <div>
      </div>
  </div>

    <div>
        Valid: {{ formGroup.valid }}
    </div>
    <div>
        Errors: {{ formGroup.errors | json }}
    </div>
</form>