<div class="row">
  <div class="col-2" *ngIf="label">
    <label class="control-label pt-2" style="font-size:20px;">{{ label }}</label>
  </div>
  <div class="pb-3" [ngClass]="label ? 'col-10 ' : 'col-12'">
    <input 
      class="form-control" 
      [formControl]="control"
      placeholder="{{ placeholder }}"
      type="{{ type }}"
    />
    <ng-container *ngIf="control.errors && control.touched">
      <span
        class="text-danger"
        *ngIf="control.errors['required']">
        {{ label ? label : placeholder }} is required
      </span>

      <span
        class="text-danger"
        *ngIf="control.errors['email']">
        Invalid email
      </span>

      <span
        class="text-danger"
        *ngIf="control.errors['minlength']">
        Minimum length of {{ control.errors['minlength'].requiredLength }} character(s), but
        you entered {{ control.errors['minlength'].actualLength }} of character(s)
      </span>

      <span
        class="text-danger"
        *ngIf="control.errors['min']">
        Minimum value is {{ control.errors['min'].min }}, but
        you entered {{ control.errors['min'].actual }}
      </span>

      <span
        class="text-danger"
        *ngIf="control.errors['phoneValid']">
        {{ control.errors['phoneValid'].message }}
      </span>

      <span
        class="text-danger"
        *ngIf="control.errors['phoneLength']">
        {{ control.errors['phoneLength'].message }}
      </span>
    </ng-container>
  </div>
</div>