<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
  <div class="container border p-4">
    <div class="row text-center p-3">
      <h1>Register</h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 pb-2">
        <app-input 
          [control]="formGroup.get('email')"
          placeholder="Email"
        ></app-input>
        <!-- <input type="text" class="form-control" placeholder="Email" /> -->
      </div>
      <div class="col-12 col-md-6 offset-md-3 pb-2">
        <!-- <input type="text" class="form-control" placeholder="Name" /> -->
        <app-input 
          [control]="formGroup.get('name')"
          placeholder="Name"
        ></app-input>
      </div>
      <div class="col-12 col-md-6 offset-md-3 pb-2">
        <app-input 
          [control]="formGroup.get('phonenumber')"
          placeholder="Phone Number"
        ></app-input>
      </div>
      <div class="col-12 col-md-6 offset-md-3 pb-2">
        <app-input 
          [control]="formGroup.get('password')"
          type="password"
          placeholder="Password"
        ></app-input>
      </div>
      <div class="col-12 col-md-6 offset-md-3 pb-2">
        <select
          class="form-select"
          [formControl]="formGroup.get('role')"
        >
          <option disabled value="">-- Please Select --</option>
          <option 
            *ngFor="let role of roles"
            [ngValue]="role.value"
          >{{ role.label }}</option>
        </select>
      </div>
      <div class="col-12 col-md-6 offset-md-3 pb-2 pt-2">
        <button 
          type="submit" 
          class="form-control btn btn-success"
          value="submit">
          Register
        </button>
      </div>
    </div>
  </div>
</form>